# Compiled Python files
__pycache__/
*.pyc

# Log files
*.log

# Environment variables
.env

# macOS
.DS_Store

# PyCharm files
.idea/
*.iml
*.iws
*.ipr

# Virtual environment
venv/

/02_save_load_models/logs
/02_save_load_models/models
